.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  position: relative;
}

.center-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  font-size: 18px; 
  font-weight: 600;
  color: #1890ff;
}
.main-list-container {
  background-color: main-list-container;
  padding: 16px;
}



