/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
  font-size: 16px; 
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
}
 /* App name or header */
.app-name {
  font-size: 1.25rem; /* // 20px */
  font-weight: 600;
  color: #1890ff;
}

 /* Subtitles or section titles */
.subtitle {
  font-size: 1.125rem; /* 18px */
  font-weight: 500;
  color: #1890ff;
}

 /* Default body text */
.text-default {
  font-size: 1rem; /* 16px */
}

/* Small text (meta info, timestamps) */
.text-small {
  font-size: 0.875rem; 
  color: #666;
}
::ng-deep .ant-form-item-label > label {
  font-size: 16px !important;
}

/* Tooltip box customization */
.introjs-tooltip {
  border-radius: 4px !important; /* Slightly rounded rectangle */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15) !important; /* Enhanced shadow */
  border: none !important; /* Remove border */
  padding: 10px;
  font-family: 'Poppins', sans-serif;
}

/* Tooltip title and text */
.introjs-tooltiptext {
  font-size: 16px;
}

/* Highlighted element shadow only */
.introjs-helperLayer {
  border-radius: 4px !important;
  box-shadow: rgba(226, 222, 222, 0.8) 0px 0px 1px 2px, rgba(33, 33, 33, 0.5) 0px 0px 0px 5000px !important;
}

.introjs-tooltip-header {
  padding: 8px !important; 
  margin-bottom: 0 !important;
}

.introjs-tooltiptext{
  padding: 2px !important; 
}

/* Tooltip main container */
.introjs-tooltip {
  border-radius: 8px !important;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15) !important;
  border: none !important;
  padding: 16px 20px;
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
  max-width: 360px;
}
.introjs-button {
  background-color: #1890ff !important;
  text-shadow: none !important;
  color: #ffffff !important;
}
