<div class="header-container">
  <button nz-button nzType="text" (click)="goBack()">
    <i nz-icon nzType="arrow-left"></i>
  </button>
  <p class="center-title">Add Recipe</p>
</div>
<div class="search-container">
<div id="search-box">
  <div class="gcse-search" data-linktarget="_blank"></div>
</div>
</div>
  <!-- Main Container: Recipe Form -->
  <div class="main-container">
    <form
      nz-form
      [formGroup]="recipeForm"
      (ngSubmit)="onSubmit()"
      class="recipe-form"
    >
      <nz-form-item>
        <nz-form-label [nzSpan]="isMobile ? 24 : 6">Recipe Name</nz-form-label>
        <nz-form-control [nzSpan]="isMobile ? 24 : 14">
          <input
            nz-input
            formControlName="name"
            placeholder="Enter recipe name"
          />
          <div
            *ngIf="
              recipeForm.get('name')?.invalid && recipeForm.get('name')?.touched
            "
            class="error-text"
          >
            Recipe name is required.
          </div>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="isMobile ? 24 : 6">Recipe Link</nz-form-label>
        <nz-form-control [nzSpan]="isMobile ? 24 : 14">
          <input
            nz-input
            formControlName="link"
            placeholder="Enter recipe URL"
          />
          <div
            *ngIf="
              recipeForm.get('link')?.touched && recipeForm.get('link')?.invalid
            "
            class="error-text"
          >
            <span *ngIf="recipeForm.get('link')?.errors?.['required']">
              Recipe link is required.
            </span>
            <span *ngIf="recipeForm.get('link')?.errors?.['pattern']">
              Link is not valid.
            </span>
          </div>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="isMobile ? 24 : 6">Description</nz-form-label>
        <nz-form-control [nzSpan]="isMobile ? 24 : 14">
          <textarea
            nz-input
            rows="3"
            formControlName="description"
            placeholder="Enter additional details"
          ></textarea>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="isMobile ? 24 : 6">Category</nz-form-label>
        <nz-form-control [nzSpan]="isMobile ? 24 : 14">
          <nz-select formControlName="category" placeholder="Select category">
            <nz-option
              *ngFor="let cat of categories"
              [nzValue]="cat.id"
              [nzLabel]="cat.name"
            ></nz-option>
          </nz-select>
          <div *ngIf="recipeForm.get('category')?.invalid && recipeForm.get('category')?.touched" class="error-text">
            Category is required.
          </div>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control
          [nzSpan]="isMobile ? 24 : 14"
          [nzOffset]="isMobile ? 0 : 6"
        >
          <button nz-button nzType="default" (click)="onCancel()">
            Cancel
          </button>
          <button
            nz-button
            nzType="primary"
            style="margin-left: 16px"
          >
            Add
          </button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
